.gallery-container{
    padding: 0 60px 0 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 2560px;
    border: black solid;
    box-sizing: border-box;
}

.gallery-inner-container{
    /* background-color: darksalmon; */
    /* color: transparent; */
    height: 200vh;
    padding: 0 calc(100%/12);
    position: relative;
    /* z-index: 999; */
    border: deepskyblue solid;
    box-sizing: border-box;
}

.second-header-container{
    background-color: darkgray;
    top: 0;
    position: sticky;
    z-index: -1;
    width: 55%;
    line-height: 1;
}

.gallery-header-container{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 467px;
    border: deeppink solid;
    z-index: 999;
}