html{
    scroll-behavior: smooth;
}

.start-screen{
    position:fixed;
    height: 100vh;
    padding: 24px 0px ;
    top:0;
    right:0;
    left:0;
    box-sizing: border-box;
}


.landing-page-container{
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 76px 0 24px;
    margin: 0 auto;
    height: 100%;
    max-width: 2560px;
}

.landing-page-wrapper{
    position: relative;
    display: flex;
    flex-grow: 1;
}

.header-wrapper{
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 61.53%;
    width: calc(100%/13 * 8);
    padding-left: 7.69%;
    padding-left: calc(100%/14);
}

.header-inner-wrapper{
    padding-left: 50px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
    text-align: left;
}

.header-text{
    white-space: nowrap;
    font-weight: 400;
    user-select: none;
    font-size: calc(48px + (120 - 48) * (100vw - 240px)/(1920 - 240));
    line-height: 1.1;
    text-transform: uppercase;
    /* text-align: right; */
}

.header-image-wrapper{
    overflow: hidden;
    position: absolute;
    left: 50%;
    width: 45%;
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
}

.header-image{
    width: 100%;
    height: calc(100vh - 48px);
    object-fit: contain;
    object-position: 0% 50%;
}


.right-sidenav-header {
    position: relative;
    width: 18.75%;
    width: calc(100%/16 * 3);
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top:0;
    transition: 1s;
}
  
  .right-sidenav-header a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }


@media  (min-width: 768px) and (max-width: 1022px){
    .landing-page-wrapper{
        flex-direction: column-reverse;
    }

    .header-wrapper{
        height: auto;
        width: 100%;
        margin-bottom: 110px;
        padding-left: 0;
    }

    
    .header-text{
        align-self: flex-start;
        
    }

    .header-image-wrapper{
        top: 0;
        left: 25%;
        width: 35%;
        width: calc(100%/5 * 4);
        height: calc(50% + 96px);
        margin-top: 96px;
    }

    .header-image{
        height: 100%;
        object-position: 50% 50%;
    }

    .right-sidenav-header{
        width: calc(100%/8 * 2);
        justify-content: flex-start;
        margin-top: 96px;
    }
}

@media only screen and (max-width: 767px){
    .start-screen{
        padding: 8px 0;
    }

    .landing-page-container{
        padding: 0 8px;
    }

    .landing-page-wrapper{
        flex-direction: column-reverse;
    }

    .header-wrapper{
        height: auto;
        width: 100%;
        margin-bottom: 64px;
        padding-left: 0px;
    }

    .header-inner-wrapper{
        padding-left: 0px;
        justify-content: flex-start;
    }

    .header-image-wrapper{
        top: 0;
        left:25%;
        width: calc(100%/4 * 3);
        height: 60%;
        box-sizing: border-box;
    }

    .header-image{
        height: 100%;
        object-position: 100% 0%;
    }

    .right-sidenav-header{
        display: none;
    }
}