.right-sidenav-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    z-index: 1;
    background-color:transparent;
    overflow-x: hidden;
    padding-top: 20px;
    border: black solid;
    display: flex;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
} 

/* Side Nav image */

.sidenav-image-container{
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    background-color: transparent;
    width: 0;
    overflow: visible;
    top: 0;
    right: 0;
    transition: 0.5s;
    width: 0;
    /* clip-path: circle(5%); */
}

.image-splash{
    left: 45%;
}

.sidenav-image-container img{
    object-fit: contain;
    position: absolute;
    margin: 0;
    /* left: 45%; */
    max-height: 100%; 
    max-width: 100vh; 
    overflow:visible;
}

.right-sidenav-wrapper{
    border:violet solid;
    position: fixed;
    clip-path: circle(5%);
    transition: clip-path 0.5s;
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
    overflow: visible;
    right: 0;
}

.right-sidenav-inner{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: black;
    text-align: center;
    overflow: visible;
}

.right-sidenav-inner a{
    position: relative;
    top: 40%;
}

.drawer-button{
    margin: auto;
    position: fixed;
    text-align: right;
    border:black solid;
    top: 50%;
    right: -70px;
    transition: 1s;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .9s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: white;
}

.look{
    border: red solid;
    position: absolute;
    left: 0;
}

.navbar-image{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
     z-index: 1;
    visibility: hidden;
}

.navbar-item{
    color: white;
    font-size: 54px;
}

.navbar-item:hover{
    color: grey;
}

.open-menu {
    width: 30%;
}

.open-image{
    width: 70%;
}

.circle{
    clip-path: circle(70% at 50% 47%);
}

.block-scroll {
    height: 100%;
    overflow-y: hidden;
 }

 .show-image-onhover{
     visibility: visible;
 }

@media only screen and (max-width: 1200px){
    .open-image{
        width: 100%;
    }
}


@media (max-width: 769px){
    .right-sidenav-container{
        display: none;
    }
   
}















.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}
/* .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
} */

