.right-sidenav-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    z-index: 1;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
    border: black solid;
    display: flex;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
    clip-path: circle(7%);
    transition: clip-path 1s;
} 

.right-sidenav-inner{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    transition: 1s;
    background-color: black;
    text-align: center;

}

.right-sidenav-inner a{
    position: relative;
    top: 40%;
    /* text-align: center; */
    /* vertical-align: center; */
}

.drawer-button{
    margin: auto;
    position: relative;
    text-align: right;
    border:black solid;
    top: 45%;
    right: -70px;
    /* transition: 1s; */
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .9s;
}

.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(-9px, 6px) ; */
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px) ; */
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: white;
}

.open {
    width: 650px;
}

.circle{
    clip-path: circle(120%);
}

@media (max-width: 697px){
    .right-sidenav-container{
        display: none;
    }
   
}

