

.right-sidenav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
    border: black solid;
    display: flex;
    flex-direction: column;
} 

.drawer{
    margin: auto;
    position: relative;
    right: 0;
    text-align: right;
    border:black solid;
    /* display: none; */
    transition: 1s;
   
}


@media (max-width: 767px){
    .right-sidenav{
        display: none;
    }
   
}
