.skin-container{
    position:relative;
    top: 100vh;

}

.sticky-dynamic-container{
    background-color: darkorange;
    display: flex;
    height: 200vh;
}

.sticky-col{
    background-color: darkorchid;
    top: 0;
    position: sticky;
    height: 100vh;
    width: 565px;
    padding: 2%;
}

.card-image{
    padding: 2%;
    border: blanchedalmond solid;
}

.dynamic-col{
    background-color: darkred;
    width: 55%;
}

.cards-holder{
    padding: 2%;
}