.main-content{
    position:relative;
    top: 100vh;
    box-sizing: border-box;
}

.latest-news{
    background-color: white;
}

.sticky-dynamic-container{
    position: relative;
    padding: 24px 60px 24px 24px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    width:100%;
    max-width: 2560px;
    box-sizing: border-box;
}

.article-list-container{
    display: flex;
    width: 100%;
}

.sticky-col{
    width: 56.14%;
    width: calc(100%/14 * 14);

}

/* Poster image */

.poster-image{
    overflow: hidden;
    top: 24px;
    position: sticky;
    width: 100%;
    height: calc(100vh - 48px);
    box-sizing: border-box;
}

.poster-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    box-sizing: border-box;
}

.poster-image-body-container{
    position: absolute; 
    margin: auto; 
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    bottom: 0;
    padding: 48px 48px 250px 48px;
}

.poster-image-body-wrapper{
    padding-right: 48px;
    margin: auto;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
}

.poster-image-title{
    white-space: nowrap; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  
}

.two-lines{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.poster-image-title h1{
    vertical-align: top;
    font-size: calc(32px + (56 - 32) * (100vw - 240px)/(1920 - 240));
}

.poster-fontcolor{
    text-shadow: 3px 3px 3px black;
    color: white;
}

.poster-image-date{
    position: relative;
    bottom: 0;
    font-size: 18px;
    box-sizing: border-box;
    margin: auto;
}

/* Articles */

.dynamic-col{
    position: relative;
    width: 100%;
}



.article-container{
    display: flex;
    padding: 0px 0px 0px 20px;
    height: 25vh;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.article-image-container{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
}

.article-image-container img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-body-container{
    position: relative;
    padding: 0px 20px 0px 20px;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.article-body-wrapper{
    position: absolute;
    bottom: 0;
}

.article-title{
    position: relative;
    margin: auto;
    width: 100%;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.article-title h1{
    color: black;
    text-decoration: none;
    font-size: calc(20px + (24 - 20) * (100vw - 240px)/(1920 - 240));
}

.article-title h1:hover{
    color: grey;
}

a{
    text-decoration: none;
}

.article-date{
}

.article-container:last-child{
    margin-bottom: 0px;
}

.block-side-title{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.side-title-header{
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.side-title{
    font-size: calc(80px + (80 - 72) * (100vw - 1440px)/(1920 - 1440));
    writing-mode: vertical-rl;
    text-orientation: mixed;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
}


@media only screen and (max-width: 1439px){
    .block-side-title{
        display: none;
    }
    
    .article-list-container{
        margin-right: 48px;
    }

    .article-container{
        height: 176px;
    }
}

@media only screen and (max-width: 1200px){
    .article-list-container{
        margin-right: 0;
    }

    .article-container{
        align-items: flex-start;
        flex-direction: column;
        height: 240px;
    }

    .article-image-container{
        height: 50%;
        width: 50%;
    }


    .article-body-container{
        height: 50%;
        padding: 0;
    }

    .article-title h1{
        text-align: left;
    }
}

@media (max-width: 1022px){
    .sticky-dynamic-container{
        padding: 24px 54px 24px 24px;
    }

 
    .article-list-container{
        flex-direction: column;
        margin-right: 5px;
    }

    .article-container{
        margin-top: 24px;
        height: 176px;
        flex-direction: row;
        padding-left: 0;
    }

    .article-image-container{
        height: 100%;
        width: 50%;
    }

    .article-body-container{
        height: 100%;
        padding: 0;
        padding-left: 20px;
    }
    
    .article-title h1{
        vertical-align: bottom;
    }
}

@media (max-width: 768px){

    
    .sticky-dynamic-container{
        padding: 14px;
    }

    .article-list-container{
        /* flex-direction: column; */
        /* margin-right: 0; */
    }

    .poster-image{
        height: 100%;
        display: flex;
        flex-direction: column;
        /* margin-bottom: 200px; */
    }

    .poster-image-body-container{
        padding: 0;
        color: black;
        position: relative;
    }

    .poster-fontcolor{
        color: black;
        text-shadow: none;
    }

    .poster-image-body-wrapper{
        padding: 0;
        color: black;
        position: relative;
    }

    .poster-image img{
        object-fit: contain;
    }

    .poster-image-title h1{
        font-size: calc(20px + (24 - 20) * (100vw - 240px)/(1920 - 240));
    }

    .poster-image-date{
        height: 70px;
    }

    .article-body-wrapper{
        position: relative;
    }

    .article-list-container{
        flex-direction: column;
        margin-right: 0;
        width: 100%;
    }

    .article-container{
        flex-direction: column;
        height: 100%;
    }

    .article-title{
        height: 65px;
    }

    .article-image-container{
        height: 100%;
        width: 100%;
    }
    

    .article-body-container{
        padding-left: 0;
    }

    .block-side-title{
        display: none;
        border: red solid;
    }
}