
.absolute-container{

    border: darkgoldenrod solid;
    width: 99%;
    z-index: -3;
}

.landing-page-container{
    position: fixed;
    background-color: cyan;
    height: 100vh;
    width: 99%;
}




.skin-container{
    position:relative;
    top: 100vh;
    /* margin-top: 100vh; */
    /* z-index: -999; */
}

.sticky-dynamic-container{
    /* margin-top: 100vh; */
    background-color: darkorange;
    display: flex;
    height: 100vh;
}

.sticky-col{
    background-color: darkorchid;
    top: 0;
    position: sticky;
    height: 200px;
    width: 50%;
}

.dynamic-col{
    background-color: darkred;
}

.second-header-container{
    background-color: darkgray;
    top: 0;
    height: 40vh;
    position: sticky;
}

.gallery-container{
    background-color: darksalmon;
    height: 100vh;
    position: relative;
    /* z-index: 999; */
}